# Окружение (у каждого свое)
venv/
ENV/
env/

# Секретные ключи (пароли от вк и тг)
.env

# База данных (чтобы не затирать заказы друг друга)
*.db
instance/

# Кэш Python (мусорные файлы системы)
__pycache__/
*.pyc
*.pyo
*.pyd

# Системные файлы
.DS_Store
Thumbs.db
.vscode/
.idea/
