# Виртуальное окружение
venv/
.venv/

# Скомпилированный Python
__pycache__/
*.pyc

# База данных
instance/
*.db
*.sqlite3

# Переменные окружения — НИКОГДА не коммитить!
.env

# Редакторы
.vscode/
.idea/
.DS_Store
*.egg-info/
.DS_Store
*.egg-info/
