# Ядро и сервер
Flask==3.0.2 #наш основной веб-фрейм-ворк
Werkzeug==3.0.1 #чисто для фласка

# База данных (SQLAlchemy)
Flask-SQLAlchemy==3.1.1 #для создания БД
SQLAlchemy==2.0.27

# Авторизация и API
Authlib==1.3.0 # ддя авторизации на будущее
requests==2.31.0 #тоже для тг 

# Работа с Telegram (Платежи и уведомления)
python-telegram-bot==20.8 #оба для управления тг-ботом
aiogram==3.4.1

# Математика времени
python-dateutil==2.8.2 # для просчета корректного времени 

# Безопасность и администрирование
python-dotenv==1.0.1 # для паррлей на будущее
Flask-Admin==1.6.1 #визулизация БД, возможность ее редактировать прямо с сайта

